* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #181818;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows:auto;
  /* grid-auto-rows: 850px 850px; */
}

.card__movie {
  /* margin-bottom: 20px; */
  background-color: #181818;
  color: white;
  padding: 20px;
}

.card__posterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__poster {
  background-color: #181818;
  margin-bottom: 20px;
}

.card__oneLiners {
  text-align: center;
  margin: auto;
  background-color: #282828;
  border-radius: 15px;
  width: 75%;
  padding: 15px;
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__title {
  margin-bottom: 15px;
  text-align: center;
}

.card__summary {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .app {
    background-color: #ffffff;
  }
}